<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023314501312-s2etibrcp2ndngc1dq2fdgug6qhs44vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023314501312-s2etibrcp2ndngc1dq2fdgug6qhs44vq</string>
	<key>API_KEY</key>
	<string>AIzaSyCPkj6zh2dnsCuUCa0fznCuu4ohxqNMTJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023314501312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nobleledger.noble</string>
	<key>PROJECT_ID</key>
	<string>condo-mgmt</string>
	<key>STORAGE_BUCKET</key>
	<string>condo-mgmt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023314501312:ios:aed43c7febd52304b9d725</string>
</dict>
</plist>